*{
    padding: 0;
    margin: 0;
}

body{
    margin: 30vh;
    text-align: center;
    box-shadow: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form{
    color: rgb(172, 7, 7);
   
}

.botonPrincipal{
    font-size: 30pt;
}