<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nómina</title>
    <link rel="stylesheet" href="../estilo.css">
</head>
<body>
    <h1>Registrar empleados</h1>
    <br>
    <form method="post">
        <label>Nombre:  </label>
        <input type="text" name="nombrE" id="nombrE">
        <br>
        <label>Salario Base:    </label>
        <input type="number" name="salarioBase" id="salarioBase">
        <br>
        <label>Comisión:    </label>
        <input type="number" name="comision" id="comision"> %
        <br>
        <br>
        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="../Views/listado.php">Ver listado</a>
</body>
</html>